/* Настройка главного контейнера */

.main_container {
    /* margin-left: 25%; */
    /* width: 1440px; */

}

.header_top {
    margin-top: 20px;
}

/* Настройка шапки */
.top_nav {
    display: flex;
    justify-content: space-around;
}

.line_header {
    color: #e6e6e6;
    margin-top: 20px;
}

/* Настройка первого блока - логотип */
.logo_block {
    /* margin-left: 15%; */
    display: flex;

}

.img_logo {
    margin-right: 12px;
    margin-top: 8px;
    width: 24px;
    height: 27px;
}

.text_logo {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21, 6px;
}

/* Настройка второго блока - телеграмм */

.telegram_link_block {
    margin-left: 15px;
    margin-top: 9px;
    border-radius: 50%;
    border: 1px solid #ffa800;
    width: 25px;
    height: 25px;
}

.telegram_logo_img {
    padding-left: 5px;
    padding-top: 6px;
    height: 12px;
    width: 12px;
}

/* Настрока третьего блока - заказть звонок */

.order_a_call {
    margin-left: 15%;
    display: flex;

}

.link_order {
    display: flex;
    margin-top: 5px;
    border-radius: 100px;
    height: 37px;
    width: 175px;
    border: 1px solid #ffa800;
    background: linear-gradient(120deg, #ffa800, #ff4d00);
}

.link_call {
    color: #ffffff;
    text-decoration: none;
}

.text_link_order_call {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 0;
}

.elips {
    margin-left: 10px;
    margin-top: 5px;
    background-color: #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.call_arrow_right {
    height: 11px;
    width: 10px;
    margin-top: 6px;
    margin-left: 7px;
}


.phone_number {
    margin-left: 22px;
    margin-top: 6px;
    height: 37px;
    width: 137px;
    padding: 0;
}

.text_phone_number {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b;
}

/* Настройка четвертого блока - Читайте нас */

.read_about_us {
    /* margin-left: 10%; */
    margin-top: 7px;
    height: 30px;
    width: 160px;
    border: 1px solid #ffa800;
    ;
    transform: skew(160deg);
}

.block_about_us {
    transform: skew(-160deg);
}

.link_about_us {
    color: #1b1b1b;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.text_about_us {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 63px;
    padding-bottom: -78px;
    margin: 0;
}

.img_about_us {
    padding-right: 10px;
    margin-top: 7px;
    height: 15px;
    width: 15px;
}

/* Настройка пятого блока - Языки */

.language {
    /* margin-left: 10%; */
    margin-top: 13px;
}

.language_ru {
    text-decoration: none;
    color: #1b1b1b;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.language_en {
    text-decoration: none;
    color: #ff4d00;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.language_cn {
    text-decoration: none;
    color: #ff4d00;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Настройка центра шапки сайта */

/* Настройка навигационной панели - выпадающие элементы */

.navigations_link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 14px;
}

.plug {
    text-decoration: none;
    color: #1b1b1b;
    margin-right: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

/* Настройка нижней части шапки сайта */

.header_bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bottom_link {
    margin-top: 20px;
    border: 2px solid #ffa800;
    transform: skew(160deg);
    /* margin-right: 150px; */
    width: 200px;
    text-align: center;
}

#bottom_link {
    text-decoration: none;
    color: #1b1b1b;
}

.text_bottom_link {
    transform: skew(-160deg);
    text-decoration: none;
    color: #1b1b1b;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

/* Настройка основной страницы - баннеры */

.banner_main_page {
    margin-top: 20px;
}

.img_banner {
    width: 100%;
}

/* Настройка первого банера */

.link_union_right {
    text-decoration: none;
    color: #1b1b1b;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    margin-left: 50%;
    margin-top: -13%;
}

.img_union {
    width: 267px;
    height: 48px;
    position: absolute;
    margin-left: 85px;
    margin-top: -35px;
}

.img_union_right {
    position: absolute;
    margin-left: 325px;
    margin-top: -20px;
}

.text_link_union {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    margin-left: 115px;
    margin-top: -24px;
}


/* Настройка кнопок для переключения для смены банеров */

.button_switch_banner {
    position: absolute;
    margin-left: 50%;
    margin-top: -30px;
}


/* Стили для активной кнопки */
.active-button {
    border: 1px solid #ffa800;
    background-color: #ffa800;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Стили для неактивных кнопок */
.inactive-button {
    border: 1px solid #E1E1E1;
    background-color: #E1E1E1;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Настройка ссылок для навигации по услугам */

.link_naviagtions_service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 5%;
    padding-left: 5%;
}

.block_navigations {
    text-align: center;
    width: 200px;
    height: 165px;
    top: -30px;
    background: linear-gradient(135deg, #070239, #080258);
    position: relative;
    clip-path: polygon(5% 63%, 13% 50%, 80% 50%, 75% 88%, 68% 100%, 1% 100%);

}

.link_block_navigations {
    text-decoration: none;
}

.image_navigations_service {
    position: relative;
    left: -15px;
    top: 90px;
    width: 40px;
    height: 40px;
}

.text_navigations_service {
    color: #ffffff;
    position: relative;
    bottom: -78px;
    left: -20px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}


/* Настройка блока Информаия - Логический оператор  */

.logical_operator {
    display: flex;
    width: 100%;
    height: 405px;
    background-image: url(../img/background_image_ligical_operator.png);
    background-size: cover;
}

.text_logical_operator {
    text-transform: uppercase;
    word-spacing: 25px;
    width: 716px;
    color: #ffffff;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-top: 68px;
    padding-left: 80px;

}

.informations_of_service {
    display: flex;
    width: 704px;
    justify-content: space-around;
    margin-left: 80px;
}

.locality {}

.warehourse_area {
    padding-left: 70px;
}

.express_center {
    padding-right: 45px;
}

.partner_point {}

.numbers_informations_of_service {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #ffffff;
}

.text_numbers_informations_of_service {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.informations_text_of_service {
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 13% 100%);
    background-color: #000000;
    opacity: 60%;
    padding-right: 20px;
}

.blok_informations_text_of_service {
    display: flex;
    padding-bottom: 10px;
}

.img_text_service {
    padding-top: 11px;
    padding-right: 15px;
    width: 13px;
    height: 13px;
}

.txt_text_service {
    margin: 0;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

#block_1 {
    margin-left: 300px;
    padding-top: 30px;

}

#block_2 {
    margin-left: 290px;

}

#block_3 {
    margin-left: 280px;

}

#block_4 {
    margin-left: 270px;

}

#block_5 {
    margin-left: 260px;

}

#block_6 {
    margin-left: 250px;

}

#block_7 {
    margin-left: 240px;

}

#block_8 {
    margin-left: 230px;

}

#block_9 {
    margin-left: 220px;

}


/* Настройка блока - Начать работать просто */

.easy_to_work {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.text_easy_to_work {
    width: 353px;
    margin-left: 40px;
}

.txt_easy_to_work {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #1b1b1b;
}

.block_to_work {
    margin-top: -80px;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 220px;
    background: linear-gradient(135deg, #070239, #080258);
    clip-path: polygon(5% 63%, 13% 50%, 80% 50%, 75% 88%, 68% 100%, 1% 100%);

}

.txt_number_italic_1 {
    color: #fff;
    margin-top: 120px;
    margin-left: 50px;
}

.txt_number_italic_2 {
    color: #fff;
    margin-top: 120px;
    margin-left: 70px;
}

.txt_number_italic_3 {
    color: #fff;
    margin-top: 120px;
    margin-left: 70px;
}

#txt_number_italic {
    font-size: 30px;
}

.txt_block_to_work {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin-top: 129px;
    margin-left: 12px;
}


.link_to_work_1 {
    margin-left: 53px;
    width: 175px;
    height: 35px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(120deg, #ffa800, #ff4d00);
    clip-path: polygon(10% 0.00%, 100.00% 0.00%, 90% 100%, 0% 100%)
}

.link_to_work_2 {
    margin-left: 59px;
    width: 175px;
    height: 35px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(120deg, #ffa800, #ff4d00);
    clip-path: polygon(10% 0.00%, 100.00% 0.00%, 90% 100%, 0% 100%)
}

.link_to_work_3 {
    margin-left: 53px;
    width: 175px;
    height: 35px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(120deg, #ffa800, #ff4d00);
    clip-path: polygon(10% 0.00%, 100.00% 0.00%, 90% 100%, 0% 100%)
}

.txt_link_to_work {
    text-align: center;
    margin: 7px 15px 0px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
}


/* Настройка блока - Новости */

.block_news {

}

.header_news {
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
}

.txt_header_news {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1b1b1b;
}

.watch {
    display: flex;
    align-items: center;
}

.link_watch_all {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.txt_watch_all {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b1b1b;
    padding-right: 10px;
}

.img_watch_all {
    width: 15px;
    height: 15px;
}

.content_news {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

.block_news {
    
    display: flex;
    width: 405px;
    height: 220px;
    background: linear-gradient(120deg, #070239, #080258);
    border-radius: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.images_news {
    text-align: center;
    width: 35%;
    height: 205px;
    margin-left: 6px;
    background-color: #44406F;
    border-radius: 12px;
}

.date_news {
    width: 61px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: -5px;
    margin-left: 5px;
}

.txt_date_news {
    font-family: "Montserrat", sans-serif;
    padding-top: 3px;
    font-weight: 500;
    font-size: 13px;
    color: #1b1b1b;

}

.img_news {
    margin-top: 30%;
    width: 66px;
    height: 66px;
}

.text_news {
    padding-left: 10px;
    width: 65%;
    margin-right: 5px;
}

.headline_news {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    margin-top: 0px;
}

.txt_news {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    
}

/* Настройка кнопок переключения новостей */

#block_news_4 {
    display: none;
}

.block_news.active {
    display: flex;
    width: 405px;
    height: 220px;
    background: linear-gradient(120deg, #070239, #080258);
    border-radius: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.button_switch_news {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.button-left {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 1px black;
    background-color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
}

.button-right {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 1px black;
    background-color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
}

.img_button_news {
    width: 5px;
    height: 10px;
}

/* Настройка подвала сайта */

.footer {
    background-color: #070239;
    color: #E1E1E1;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
}

.navigations_footer {
    display: flex;
    justify-content: space-between;

}

.block_footer_1 {
    display: flex;
    align-items: center;
}

.text_name_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

.button_footer {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px #ffffff;
    background-color: #070239;
    margin-left: 15px;
    cursor: pointer;
}

.img_btn_footer {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.block_footer_2 {
    display: flex;
    align-items: center;
}

.txt_number_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.line_footer {
    width: 1.5px;
    height: 18px;
    margin-right: 15px;
    margin-left: 15px;
}

.block_footer_3 {
    display: flex;
    align-items: center;
}

.text_connection_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: 15px;
    
}

.link_footer {
    margin-top: 7px;
}

.img_connection_footer {
    width: 24px;
    height: 24px;
}

.content_footer {
    display: flex;
    justify-content: space-between;
}

.delivery {
    width: 206px;
}

.link_content_footer {
    text-decoration: none;
    color: #ffffff;
}

.name_block_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-right: 15px;
}

.text_block_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 15px;
}

.payment {
    width: 180px;
}

.marketplace {
    width: 203px;
}

.all_services {
    width: 240px;
}

.footer_about_us {
    width: 80px;
}

.bottom_footer {
    display: flex;
    justify-content: space-between;
}

.logo_footer {
    display: flex;
    align-items: center;
    width: 160px;
}

.img_logo_footer {
    width: 24px;
    height: 27px;
}

.text_logo_footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
}

.personal_data {
    width: 225px;
    margin-left: 200px;
}

.link_personal_data {
    color: #ffffff;
}

.txt_libk_personal_data {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.copyrite_name_company {
    width: 300px;

}

.txt_copyrite_name_company {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Настройка кнопки сотрудничать для адаптивности экранов */

@media (min-width: 1440px) and (max-width: 1500px) {
    .link_union_right {
        text-decoration: none;
        color: #1b1b1b;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        margin-left: 48%;
        margin-top: -12%;
    }

    .img_union {
        width: 267px;
        height: 48px;
        position: absolute;
        margin-left: 85px;
        margin-top: -35px;
    }

    .img_union_right {
        position: absolute;
        margin-left: 325px;
        margin-top: -20px;
    }

    .text_link_union {
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        margin-left: 115px;
        margin-top: -24px;
    }


    /* Настройка блока Логистический оператор */

    .logical_operator {
        display: flex;
        width: 100%;
        height: 405px;
        background-image: url(../img/background_image_ligical_operator.png);
        background-size: cover;
    }

    .text_logical_operator {
        text-transform: uppercase;
        word-spacing: 25px;
        width: 716px;
        color: #ffffff;
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        padding-top: 68px;
        padding-left: 80px;

    }

    .informations_of_service {
        display: flex;
        width: 704px;
        justify-content: space-around;
        margin-left: 80px;
    }

    .locality {}

    .warehourse_area {
        padding-left: 70px;
    }

    .express_center {
        padding-right: 45px;
    }

    .partner_point {}

    .numbers_informations_of_service {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 28px;
        color: #ffffff;
    }

    .text_numbers_informations_of_service {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
    }

    .informations_text_of_service {
        width: 100%;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-color: #000000;
        opacity: 60%;
        padding-right: 20px;
    }

    .blok_informations_text_of_service {
        display: flex;
        padding-bottom: 0px;
    }

    .img_text_service {
        padding-top: 11px;
        padding-right: 15px;
        width: 13px;
        height: 13px;
    }

    .txt_text_service {
        margin: 0;
        padding-top: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
    }

    #block_1 {
        margin-left: 200px;
        padding-top: 30px;
        /* padding-bottom: 10px; */
    }

    #block_2 {
        margin-left: 190px;

    }

    #block_3 {
        margin-left: 180px;

    }

    #block_4 {
        margin-left: 170px;

    }

    #block_5 {
        margin-left: 160px;

    }

    #block_6 {
        margin-left: 145px;

    }

    #block_7 {
        margin-left: 130px;

    }

    #block_8 {
        margin-left: 115px;

    }

    #block_9 {
        margin-left: 105px;

    }

    /* Настройка блока - Новости */

.container_news {

}

.header_news {
    padding-right: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
}

.txt_header_news {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1b1b1b;
}

.watch {
    display: flex;
    align-items: center;
}

.link_watch_all {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.txt_watch_all {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b1b1b;
    padding-right: 10px;
}

.img_watch_all {
    width: 15px;
    height: 15px;
}

.content_news {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
}

.block_news_1 {
    display: flex;
    width: 405px;
    height: 220px;
    background: linear-gradient(120deg, #070239, #080258);
    border-radius: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.images_news {
    text-align: center;
    width: 35%;
    height: 205px;
    margin-left: 6px;
    background-color: #44406F;
    border-radius: 12px;
}

.date_news {
    width: 61px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: -5px;
    margin-left: 5px;
}

.txt_date_news {
    font-family: "Montserrat", sans-serif;
    padding-top: 3px;
    font-weight: 500;
    font-size: 13px;
    color: #1b1b1b;

}

.img_news {
    margin-top: 30%;
    width: 66px;
    height: 66px;
}

.text_news {
    padding-left: 10px;
    width: 65%;
    margin-right: 5px;
}

.headline_news {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    margin-top: 0px;
}

.txt_news {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    
}

}

@media (min-width: 1240px) and (max-width: 1300px) {
    .link_union_right {
        text-decoration: none;
        color: #1b1b1b;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        margin-left: 47%;
        margin-top: -12%;
    }

    .img_union {
        width: 267px;
        height: 48px;
        position: absolute;
        margin-left: 85px;
        margin-top: -35px;
    }

    .img_union_right {
        position: absolute;
        margin-left: 325px;
        margin-top: -20px;
    }

    .text_link_union {
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        margin-left: 115px;
        margin-top: -24px;
    }
}